button {
  border-radius: 30px;
  border: solid rgb(74, 121, 153);
  border-width: 100px;

  font-size: large;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(60, 65, 70);

  padding: 10px 20px 10px 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
